.arredondada {
    background-color: blue;
    width: 200px;
    height: 200px;
    border-radius: 20px 40px 60px 80px;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.galeria .card {
    background-color: aqua;
    margin: 10px;
    border-radius: 20px;
}

.galeria .card .image-card {
    width: 200px;
}