.animacao {
    background-color: green;
    width: 400px;
    height: 400px;

    animation-name: animacao-legal;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes mudar-background {
    from {
        background-color: blue;
        width: 200px;
    }
    to {
        background-color: green;
    }
}

@keyframes animacao-legal {
    0% {
        background-color: blue;
    }
    30% {
        background-color: pink;
    }
    60% {
        background-color: red;
    }
    80% {
        background-color: green;
    }
    100% {
        background-color: blue;
    }
}