* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
}

.overlay {
    position: relative;
}

.overlay img {
    width: 400px;
}

.overlay .overlay-inner {
    color: white;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 500ms;

    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay .overlay-inner:hover {
    opacity: 1;
}

.overlay-inner .overlay-text {
    display: block;
}