.div1 {
    background-color: green;
    width: 400px;
    height: 400px;
}

.div2 {
    background-color: blue;
    width: 200px;
    height: 400px;

    margin: auto;
}

/* 1 - Margin 
    auto - o navegador calcula a margem para centralizar o elemento (também serve para centralizar div!) 
*/