.loading {
    margin: auto;
    width: 100px;
    height: 100px;
    /* background-color: blue; */
    border-radius: 50%;
    border-width: 30px;
    border-style: solid;
    border-color: blue lightgray lightgray;

    animation-name: rodar;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rodar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}