* {
    margin: 0;
    padding: 0;
}
.card {
    margin-top: 20px;
    width: 200px;
    padding: 20px;
    background-color: rgb(200, 200, 200);
}

.card .nome-card {
    padding: 0px 0px 10px 0px;
}

.mural {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}